#aboutUs {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#aboutUs img {
    width: 400px;
    margin: 20px;
    border-radius: 10px;
}
#aboutUs img {
    transition: transform 0.3s ease-in-out;
}

#aboutUs img:hover {
    transform: scale(1.1);
}

.content {
    margin: 20px 0;
}

.header-text {
    font-size: 50px;
    color: #0C056D;
    text-align: center;
}

.content h4 {
    font-size: 20px;
    color: black;
    margin: 10px 0;
}

.description {
    color: black;
    margin: 20px 0;
    font-size: 18px;
    line-height: 30px;
    font-weight: 100;
}

.btn-aboutUs {
    font-weight: bold;
    border: 2px solid #0C056D;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 20px;
    transition: all 0.4s;
    background-color: #0C056D;
    color: #ffffff;
}

.btn-aboutUs:hover {
    border: 2px solid #0C056D;
    background: transparent;
    color: #0C056D;
}

@media screen and (max-width: 790px) {
    #aboutUs img {
        width: 80%;
    }

    #aboutUs {
        grid-template-columns: 1fr;
        place-items: center;
    }
}

  
  .text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    line-height: 25px;
  }
  
  .responsive-cell-block {
    min-height: 75px;
  }
  
  .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: space-evenly;
  }
  
  .outer-container {
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 50px;
  }
  
  .inner-container {
    max-width: 1320px;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
  }
  
  .section-head-text {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
    font-size: 35px;
    font-weight: 700;
    line-height: 48px;
    color: #0C056D;
    margin: 0 0 10px 0;
  }
  
  .section-subhead-text {
    font-size: 25px;
    color: #2F4858;
    line-height: 35px;
    max-width: 470px;
    text-align: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 60px;
    margin-left: 0px;
  }
  
  .img-wrapper {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
  .team-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .social-media-links {
    width: 125px;
    display: flex;
    justify-content: space-between;
  }
  
  .name {

    font-size: 20px;
    font-weight: 700;
    color: rgb(102, 102, 102);
    margin-top: 10%;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
  }
  
  .position {
    font-size: 15px;
    font-weight: 700;
    color: #0C056D;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
  }
  
  .team-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
  }
  .img-wrapper img {
    transition: transform 0.3s ease-in-out;
}

.img-wrapper img:hover {
    transform: scale(1.1);
}
  
  .team-card-container {
    width: 280px;
    margin: 0 0 40px 0;
  }
  
  @media (max-width: 500px) {
    .outer-container {
      padding: 10px 20px 10px 20px;
    }
  
    .section-head-text {
      text-align: center;
    }
  }